.purple {
  background: #7f00ff;
  background: -webkit-linear-gradient(to bottom, #e100ff, #7f00ff);
  background: linear-gradient(to bottom, #e100ff, #7f00ff);
}
.blue {
  background: #24c6dc;
  background: -webkit-linear-gradient(to bottom, #514a9d, #24c6dc);
  background: linear-gradient(to bottom, #514a9d, #24c6dc);
}
.red {
  background: #ff5f6d;
  background: -webkit-linear-gradient(to bottom, #ffc371, #ff5f6d);
  background: linear-gradient(to bottom, #ffc371, #ff5f6d);
}
.green {
  background: #134e5e;
  background: -webkit-linear-gradient(to bottom, #71b280, #134e5e);
  background: linear-gradient(to bottom, #71b280, #134e5e);
}
